DB_NAME=memecoin
DB_HOST=localhost
DB_PORT=5432
DB_NAME=memecoin
DB_USER=postgres
DB_PASS=postgres
# DB_URL=postgres://postgres:postgres@localhost:5432/memecoin

STATE_SCHEMA=memecoin_processor_local
GQL_PORT=4350

RPC_ENDPOINT=wss://testnet-archive.vara.network
FACTORY_PROGRAM=0xd2af5ea60be7b0d95271f0bc3029eba85fe014a18db8c2335d24f21bea91ba2d
MIN_BLOCK_NUMBER=5477837
RATE_LIMIT=100

DNS_API_URL=https://stg-dns-explorer.gear.foundation
DNS_PROGRAM_NAME=tokenator.club

# Uncommenting this line enables the debug mode
# More info at https://docs.subsquid.io/basics/logging/
#SQD_DEBUG=*
